$backcolor:rgb(245,245,245);
$green:rgb(100,198,133);
$navwordcolor:rgb(75,81,92);
$contentwordcolor:rgb(33,33,33);
$mainwidth:80%;
$navheight:110px;
$shadow:rgb(200,200,200);
$wordcolor:rgb(128,128,128);





